header{
    background-color: #482880;
    color: white;
}

header h1{
    font-size: 3rem;
    font-weight: 400;
    padding-right: 10px;
}

header h1:hover{
    cursor: pointer;
}


.header-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.mobile{
    text-align: center;
}


@media (max-width: 1002px){
    header h1{
        font-size: 2rem;
    }
}

@media (max-width: 370px){
    header h1{
        font-size: 1.5rem;
    }
}
