#footer-container {
  min-height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  word-break: break-all;
}
a {
  color: black;
  text-decoration: none;
  word-break: break-all;
}

hr {
  width: 90%;
}

.contact-info {
  margin: 6px 16px;
}

@media (max-width: 750px) {
  .contact-info {
    font-size: smaller;
  }
}

@media (max-width: 490px) {
  #footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}
