.card {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #482880;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  height: 450px;
  align-content: flex-start;
}

.card-header {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header span {
  font-size: smaller;
  margin-bottom: 10px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  height: 200px;
  border: 1px solid #482880;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.card-content {
  height: 160px;
  overflow-y: auto;
  scrollbar-width: thin;
  white-space: normal;
}
