.navitems {
  min-height: 30px;
  height: 100%;
  font-size: large;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  padding-right: 30px;
}

a:hover {
  color: #8561c5;
}

a {
  text-decoration: none;
  color: white;
}

.active {
  color: #8561c5;
}

div.burger-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.line {
  position: absolute;
  height: 2px;
  width: 30px;
  background: white;
  border-radius: 2px;
}

.line:nth-child(1) {
  top: 7px;
}
.line:nth-child(2) {
  top: 14px;
}
.line:nth-child(3) {
  top: 21px;
}

@media (max-width: 1002px) {
  #big-navbar {
    display: none;
  }
  #burger-navbar {
    margin-right: 10px;
  }
}

@media (min-width: 1002px) {
  #burger-navbar {
    display: none;
  }
}
