<div id="home-wrapper" class="fontstyle">
  <section>
    <img src="images/homeimg.jpg" alt="Owner" />
  </section>
  <section>
    <h2>Willkommen in unserer Katzenpension!</h2>
    <p>Hallo! Ich bin Sonja Müller.</p>
    <p>
      Als leidenschaftliche Katzenliebhaberin weiß ich aus eigener Erfahrung: Es
      ist gar nicht so einfach, sein geliebtes Haustier in fremde Hände zu
      geben. Genau deshalb habe ich meine Katzenpension ins Leben gerufen. Ein
      Ort, an dem sich Ihre Fellnase nicht nur sicher, sondern wie zu Hause
      fühlt.
    </p>
    <p>
      In meiner Pension stehen individuelle Betreuung, viel Liebe und jede Menge
      Spielstunden an erster Stelle. Egal ob verspielter Abenteurer oder
      schüchterner Genießer, ich nehme mir die Zeit, auf die speziellen
      Bedürfnisse und Eigenheiten jedes Gastes einzugehen. Während Sie Ihren
      Urlaub genießen, sorge ich dafür, dass es Ihrer Katze an nichts fehlt.
    </p>
    <p>
      Kommen Sie gerne vorbei und schauen Sie sich mein „Katzenreich“ persönlich
      an. Ich freue mich darauf, Sie und Ihre Samtpfote kennenzulernen!
    </p>
  </section>
</div>
