<div id="home-wrapper" class="fontstyle">
  <section>
    <img src="images/homeimg.jpg" alt="Owner" />
  </section>
  <section>
    <h2>Willkommen in unserer Katzenpension!</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque dolorum
      sequi obcaecati, a minus, ea aspernatur corrupti ducimus ab repellat amet
      consectetur dicta accusamus natus autem explicabo. Provident, dolore
      iusto.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      quasi qui animi nam esse? Quibusdam, a quos? Deleniti, doloribus, laborum
      pariatur assumenda commodi illo dolorem tempore exercitationem nobis
      praesentium eos.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, voluptatem
      cupiditate eaque quisquam officiis eveniet accusantium velit doloremque!
    </p>
  </section>
</div>
