.rooms-container{
    margin-top: 40px;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

li{
    max-width: 350px;
    margin: 5px;
}


.fallback-text{
    text-align: center;
}